
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */